@font-face {
    font-family: "BluuNext";
    src: url("../../assets/font/BluuNext-Bold.woff") format("woff");
}

body {
    background-color: #0e0e0e;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#home {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title {
    font-family: BluuNext;
    color: white;
    text-transform: uppercase;
    letter-spacing: 6px;
    font-size: 30px;
}

#start {
    font-family: BluuNext;
    color: white;
    text-transform: uppercase;
    letter-spacing: 6px;
    font-size: 25px;
    background: transparent;
    width: 100%;
    border: none;
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
    background-repeat: no-repeat;
    background-size: 22% 0.4em;
    background-position: 49% 85%;
    transition: background-size 0.25s ease-in;
}

#start:hover {
    background-size: 22% 150%;
}

#start:focus {
    outline: none
}

#description {
    display: flex;
    justify-content: center;
    font-family: BluuNext;
    color: white;
    text-transform: uppercase;
    letter-spacing: 6px;
    width: 100%;
    font-size: 25px;
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
    background-repeat: no-repeat;
    background-size: 60% 0.4em;
    background-position: 49% 90%;
    transition: background-size 0.25s ease-in;
}

#app {
    display: none;
}

.positionCanvas {
    position: absolute;
    margin-left: 10px;
}

canvas {
    background-color: transparent;
    border: 2px solid white;
}

.titleSound {
    font-family: BluuNext;
    color: white;
    text-transform: uppercase;
    position: absolute;
    top: 4vh;
    left: 9vw;
    letter-spacing: 14px;
    font-size: 17px;
}

.initial {
    font-family: BluuNext;
    color: white;
    text-transform: uppercase;
    position: absolute;
    bottom: 2vh;
    right: 5vw;
    letter-spacing: 10px;
    font-size: 17px;
}

.date {
    font-family: BluuNext;
    color: white;
    position: absolute;
    top: 17vh;
    right: -1vw;
    transform: rotate(-90deg);
    letter-spacing: 6px;
    font-size: 13px;
}

.filter {
    font-family: BluuNext;
    color: white;
    position: absolute;
    letter-spacing: 6px;
    font-size: 17px;
    bottom: 25vh;
    left: -4vw;
    transform: rotate(-90deg);
}

label {
    margin-top: 8px;
}

input[type="range"] {
    -webkit-appearance: none;
    width: 240px;
    height: 2px;
    background: white;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    margin: auto;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 18px;
    height: 18px;
    border-radius: 100%;
    background: #0e0e0e;
    position: relative;
    border: 2px solid white;
    z-index: 3;
    cursor: pointer;
}