@font-face {
    font-family: "BluuNext";
    src: url("../../assets/font/BluuNext-Bold.woff") format("woff");
}

body {
    background-color: #0e0e0e;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.positionCanvas {
    position: absolute;
    margin-left: 10px;
}

canvas {
    background-color: transparent;
    border: 2px solid white;
}

.titleSound {
    font-family: BluuNext;
    color: white;
    text-transform: uppercase;
    position: absolute;
    top: 4vh;
    left: 8.5vw;
    letter-spacing: 14px;
    font-size: 17px;
}

.initial {
    font-family: BluuNext;
    color: white;
    text-transform: uppercase;
    position: absolute;
    bottom: 3vh;
    right: 5.4vw;
    letter-spacing: 10px;
    font-size: 17px;
}

.date {
    font-family: BluuNext;
    color: white;
    position: absolute;
    top: 15.5vh;
    right: 0vw;
    transform: rotate(-90deg);
    letter-spacing: 6px;
    font-size: 13px;
}

.filter {
    font-family: BluuNext;
    color: white;
    position: absolute;
    letter-spacing: 6px;
    font-size: 17px;
    bottom: 21.5vh;
    left: -2.5vw;
    transform: rotate(-90deg);
}

label {
    margin-top: 8px;
}

input[type="range"] {
    -webkit-appearance: none;
    width: 240px;
    height: 2px;
    background: white;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    margin: auto;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 18px;
    height: 18px;
    border-radius: 100%;
    background: #0e0e0e;
    position: relative;
    border: 2px solid white;
    z-index: 3;
    cursor: pointer;
}

@media (min-width: 2560px) and (min-height: 1258px) {
    .titleSound {
        top: 4vh;
        left: 8vw;
    }
    .initial {
        right: 5.5vw;
    }
    .date {
        top: 13.5vh;
        right: 2vw;
    }
    .filter {
        bottom: 15.5vh;
        left: 1.5vw;
    }
}